In [ ]:
import pandas as pd
import yfinance as yf
yf.download('2330.TW') #台積電(2330.TW),聯電(2303.TW),聯發科(2454.TW),鴻海(2317.TW)

In [ ]:
all_data = {ticker:yf.download(ticker) for ticker in ['2330.TW', '2303.TW', '2454.TW', '2317.TW']}
new_data = {key:df[('Adj Close', key)] for key,df in all_data.items()}

In [32]:
import pandas as pd
import yfinance as yf

#下載股票數據
all_data = {ticker: yf.download(ticker) for ticker in ['2330.TW', '2303.TW', '2454.TW', '2317.TW']}

new_data = {key:df[('Adj Close', key)] for key,df in all_data.items()}

#將dict轉成DataFrame 
df = pd.DataFrame(new_data)

#更改名稱
df1 = df.rename(columns={
    '2330.TW':'台積電',
    '2303.TW':'聯電',
    '2454.TW':'聯發科',
    '2317.TW':'鴻海'
    })
df1

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

               台積電         聯電     聯發科          鴻海
Date
1993-01-05     NaN        NaN     NaN    0.399521
1993-01-06     NaN        NaN     NaN    0.392806
1993-01-07     NaN        NaN     NaN    0.391128
1993-01-08     NaN        NaN     NaN    0.379377
1993-01-11     NaN        NaN     NaN    0.381895
...            ...        ...     ...         ...
2024-12-11  1041.0  43.000000  1350.0  189.000000
2024-12-12  1060.0  42.500000  1380.0  188.500000
2024-12-13  1065.0  41.450001  1410.0  186.500000
2024-12-16  1085.0  41.450001  1385.0  182.000000
2024-12-17  1075.0  42.549999  1425.0  183.000000

[8042 rows x 4 columns]