In [8]:
import pandas as pd
df = pd.read_csv('上市公司資料.csv')
df_selected = df[['公司代號', '公司名稱', '產業別',
                  'Unnamed: 5','營業收入-上月營收',
                  '營業收入-去年當月營收月比較增減(%)','營業收入-去年同月增減(%)']]

In [11]:
df_selected

,公司代號,公司名稱,產業別,Unnamed: 5,營業收入-上月營收,營業收入-去年當月營收月比較增減(%),營業收入-去年同月增減(%)
0,1102,亞泥,水泥工業,7069221,7193266,-10.113658,-1.724460
1,1108,幸福,水泥工業,390053,249977,19.395086,56.035555
2,1109,信大,水泥工業,478276,591358,-14.195654,-19.122427
3,1110,東泥,水泥工業,176935,109276,31.579534,61.915700
4,1213,大飲,食品工業,38696,42312,31.159543,-8.546039
...,...,...,...,...,...,...,...
834,9942,茂順,其他,352730,336002,1.036633,4.978542
835,9943,好樂迪,觀光事業,212912,5090,7.663990,4082.946955
836,9944,新麗,其他,179660,178668,-22.271880,0.555220
837,9955,佳龍,其他,81881,109319,-4.372555,-25.099022
838,9958,世紀鋼,鋼鐵工業,757968,1073536,16.306454,-29.395195