In [1]:
#階層式的索引
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[
                    ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                    [1, 2, 3, 1, 2, 3, 1, 2, 3]
                ]
)
s1

a  1    0.660462
   2    1.464877
   3   -0.325245
b  1   -0.194123
   2   -1.096744
c  3    0.743062
   1   -0.649035
d  2   -0.526954
   3   -1.228544
dtype: float64

In [2]:
s1['a']

1    0.660462
2    1.464877
3   -0.325245
dtype: float64

In [3]:
s1[['a','d']]

a  1    0.660462
   2    1.464877
   3   -0.325245
d  2   -0.526954
   3   -1.228544
dtype: float64

In [4]:
s1[('a', 3)]

np.float64(-0.325244641548886)

In [5]:
s1.index.names = ['key1', 'key2']

In [6]:
s1

key1  key2
a     1       0.660462
      2       1.464877
      3      -0.325245
b     1      -0.194123
      2      -1.096744
c     3       0.743062
      1      -0.649035
d     2      -0.526954
      3      -1.228544
dtype: float64

In [7]:
s1.unstack(level='key2')

key2         1         2         3
key1
a     0.660462  1.464877 -0.325245
b    -0.194123 -1.096744       NaN
c    -0.649035       NaN  0.743062
d          NaN -0.526954 -1.228544

In [8]:
s1.unstack(level='key1')

key1         a         b         c         d
key2
1     0.660462 -0.194123 -0.649035       NaN
2     1.464877 -1.096744       NaN -0.526954
3    -0.325245       NaN  0.743062 -1.228544